<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian Books</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/librarian.css">
    <link rel="stylesheet" href="/styles/librarian.book.css">
</head>
<body>

<%- include("partials/librarian.header.ejs") %>

<div class="container-fluid mt-4">
    <div class="container books-container">

        <div class="books-header">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                <div>
                    <h2 class="fw-bold mb-1">
                        Books
                    </h2>
                </div>

                <button class="btn btn-dark btn-lg rounded-4 px-4">
                    Add New Book
                </button>
            </div>
        </div>

        <div class="books-list">
            <div class="d-flex flex-column gap-3">

                <% books.forEach(book => { %>
                <div class="book-item">
                    <div class="row align-items-center">

                        <div class="col-md-2 text-center">
                            <img
                                    src="<%= book.image %>"
                                    alt="<%= book.title %>"
                                    class="img-container"
                            >
                        </div>
                        <div class="col-md-7">
                            <div class="title-status">
                                <h5 class="book-title">
                                    <%= book.title %>
                                </h5>

                                <span class="status-pill
                                    <%= book.status === 'available'
                                        ? 'status-available'
                                        : 'status-borrowed'
                                    %>">
                                    <%= book.status %>
                                </span>
                            </div>
                            <p class="book-meta">
                                <strong>Author:</strong>
                                <%= Array.isArray(book.author)
                                ? book.author.join(", ")
                                : book.author
                                %>
                            </p>

                            <div id="jawkey">
                                <p class="mb-3 book-info">
                                    <strong>Category:</strong>
                                    <% book.category.forEach((cat) => { %>
                                    <span class="cat"><%= cat %></span>
                                    <% }) %>
                                </p>
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="book-actions d-flex flex-column gap-2">
                                <button class="btn btn-outline-dark">
                                    View
                                </button>
                                <button class="btn btn-outline-primary">
                                    Edit
                                </button>
                                <button class="btn btn-outline-danger">
                                    Delete
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <% }) %>

            </div>


            <div class="d-flex justify-content-center mt-5">
                <nav>
                    <ul class="pagination">
                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                            <a
                                    class="page-link"
                                    href="?page=<%= currentPage - 1 %>&q=<%= searchQuery %>"
                            >
                                Previous
                            </a>
                        </li>

                        <!-- PAGE NUMBERS -->
                        <% for(let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a
                                    class="page-link"
                                    href="?page=<%= i %>&q=<%= searchQuery %>"
                            >
                                <%= i %>
                            </a>
                        </li>
                        <% } %>


                        <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                            <a
                                    class="page-link"
                                    href="?page=<%= currentPage + 1 %>&q=<%= searchQuery %>"
                            >
                                Next
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script>

</script>
</body>
</html>